doctype html
//- includes Mixins 
include assets/html/components/title_section/title_section
include assets/html/components/detailsAbout/detailsAbout
//-===================
html 
  head
    include assets/html/includes/head
  
  body
    
    include assets/html/includes/header
    
    include assets/html/content
    
    include assets/html/includes/script
    
    include assets/html/includes/preloader
