// Header 
nav(class="d-lg-none")
  div(class="row py-1 mx-0")
    div(class="col-6") 
      img(src="assets/imgs/logo/personal_image.jpg" class="col-2 d-inline-block px-0")
      h6(class="d-inline-block") Karim Elmelayati
    div(class="col-6 text-right align-self-center")  
      i(class="fas fa-bars menu_button")
