// Scripts 
// == Jquery
script(src="assets/js/jquery.min.js")
// == Bootstrap
script(src="assets/js/bootstrap.min.js")
// == Font awesome
script(src="assets/js/fontawesome.min.js")
// == Preloader 
script(src="assets/js/fakeLoader.js")
// == MixItUp
script(src="assets/js/mixitup.min.js")
script(src="assets/js/mixitup.js")
// == Slider 
script(src='assets/js/slider.js')
script(src="assets/js/jquery.touchSwipe.js")
script(src="assets/js/cubeTransition.js")
// == Main Script
script(src="assets/js/main.js")
