+title_section("About Me" , "Thinker, Creative Doer")
// Personal Details 
div(class="row personal_details compontent_margin_bottom_large")
  div(class="col-xl-6 col-12")
    h4(class="compontent_margin_bottom_small") I'm web developer 
    p(class="main_color_dark3") I took courses and hands-on development and design topics like: HTML5, CSS3, Javascript, JQuery, Bootstrap, Sass, Pug, React, PHP, Database Design Concepts, OOP , Laravel ,  while developing I tend to use frameworks and technologies which suit project needs the best . I have knowledge with web design about typography, fonts, colors, space, usability by photoshop and Illustrator .  And I created many projects using these technologies available upon request.
  div(class="col-xl-6 col-12")
    ul
      +detailsAbout('Age' , '27')
      +detailsAbout('Residence' , 'Egypt')
      +detailsAbout('e-mail' , 'karimElmelayati@gmail.com')
      +detailsAbout('linkedin' , 'https://www.linkedin.com/in/hbkarim/')
      +detailsAbout('phone' , '+20 0100 733 6766')
// What I Do
div(class="row what_i_do_title")
  .col-12      
    h4(class="compontent_margin_bottom_normal title_line d-inline-block") What I Do
div(class="row compontent_margin_bottom_large what_i_do")
  .col-md-6
    div(class="compontent_margin_bottom_small")
      i(class="fas fa-dumpster pr-3 main_color_dark3")
      h5(class="d-inline-block") Ecommerce
    div(class="compontent_margin_bottom_small")
      i(class="fas fa-edit pr-3 main_color_dark3")
      h5(class="d-inline-block") Copywriter
  .col-md-6
    div(class="compontent_margin_bottom_small")
      i(class="fas fa-laptop pr-3 main_color_dark3")
      h5(class="d-inline-block") Web Design
    div(class="compontent_margin_bottom_small")
      i(class="fas fa-database pr-3 main_color_dark3")
      h5(class="d-inline-block") Web Development
