+title_section("Portfolio" , "My Works")
.container
  div(class="controls text-right compontent_margin_bottom_normal")
    button(type="button" class="control button_style" data-filter="all") All
    button(type="button" class="control button_style" data-filter=".static") Static Website
    button(type="button" class="control button_style" data-filter=".app") App Website

  div(class="container_mixitup row")
    div(class="mix col-xl-3 col-lg-4 col-md-6 col-12 static compontent_margin_bottom_small") 
      a(href="https://hbkarim2016.github.io/hiphone/" target="_blank")
        div(class="background_img_edit background_hiphone")
          .web_description
            h6 HIphoNe  
            p Phone Show website | Static Website
    div(class="mix col-xl-3 col-lg-4 col-md-6 col-12 static compontent_margin_bottom_small") 
      a(href="https://hbkarim2016.github.io/crocal/index.html" target="_blank")
        div(class="background_img_edit background_carcol")
          .web_description
            h6 CARCOL 
            p gym website | Static Website
    div(class="mix col-xl-3 col-lg-4 col-md-6 col-12 app compontent_margin_bottom_small") 
      a(href="#")
        div(class="background_img_edit background_royate")
          .web_description
            h6 Royate 
            p restaurant website | Application Website
