mixin detailsAbout(details_title , details)
  li(class="d-block detail_about compontent_margin_bottom_small")
    h6(class="d-inline-block title_line px-3")= details_title
    span(class="d-inline-block main_color_dark3")= details
