.page1{
  background-image: linear-gradient(rgba(245,245,245,.5), rgba(245,245,245,.5)) , url("../imgs/home_section/background_home.jpg");
  .title_home{
    position: relative;
    top: 15vw;
    line-height: 1.3
  }
}
