
// == Content ==
div
  .sideBar
    div(class="sideBar_header")
      img(src="assets/imgs/logo/personal_image.jpg")
      h4(class="main_color_dark2") Karim Elmelayati
    ul(id="bullets")
    .sideBar_footer
      ul
        li
            i(class="fab fa-twitter")
        li
            i(class="fab fa-linkedin")
        li
            i(class="fab fa-facebook-f")
      div(class="col-12 copyright")
        span © 2019 All rights reserved.

  div(id="cubeTransition")
    div(class="page1 background_img_edit")
      include components/sliders_sections/slider_home
    div(class="page2")
      include components/sliders_sections/slider_about
    div(class="page3")
      include components/sliders_sections/slider_resume
    div(class="page4")
      include components/sliders_sections/slider_portfolio

 
  
