
// == Content ==
div
  .sideBar
    div(class="sideBar_header")
      img(src="assets/imgs/logo/personal_image.jpg")
      h4(class="main_color_dark2") Karim Elmelayati
    ul(id="bullets")
    .sideBar_footer
      ul
        li
          a(href="https://stackexchange.com/users/15856584/karim-emelayati")
            i(class="fab fa-stack-overflow")
        li
          a(href="https://www.linkedin.com/in/hbkarim/")
            i(class="fab fa-linkedin")
        li
          a(href="https://www.hackerrank.com/karimelmelayati")
            i(class="fab fa-hackerrank")
      div(class="col-12 copyright")
        span © 2019 All rights reserved.

  div(id="cubeTransition")
    div(class="page1 background_img_edit")
      include components/sliders_sections/slider_home
    div(class="page2")
      include components/sliders_sections/slider_about
    div(class="page3")
      include components/sliders_sections/slider_resume
    div(class="page4")
      include components/sliders_sections/slider_portfolio

 
  
