//- mixin for title section 
mixin title_section( title_section , span_section )
  div(class="title_section compontent_margin_bottom_large")
    h2= title_section 
    <hr />
    div(class="main_color_dark3 text-right")= span_section 
